# Ignore the virtual environment folder (venv)
venv/

# Ignore the Pycharm .idea folder
/.idea

# Ignore OSX folders
/.DS_Store

# Ignore local Jupyter Notebook Folder
/jupyter_notebook

.DS_Store

.pytest_cache

/front/images/*

__pycache__
