/*general*/
html,body {width:100%;height:100%;padding:0;margin:0;color:#fff;font-family:Arial,Helvetica,sans-serif;}
h1 {cursor:pointer;}
#mapid {width:100%;height:calc(100% - 160px);position:relative;}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.close {position:absolute;top:10px;right:10px;cursor:pointer;}
div {box-sizing: border-box;}

/*search*/
.search {position:relative;transition: width 0.5s;color:#fff;overflow:hidden; white-space: nowrap;position:absolute;left:10px;top:10px; z-index:500;width:70px;height:70px;background-color: #4a4a4a;border-radius:5px;padding:10px;}
.search.open {width:470px;}
.loc_i {display:inline-block;height :50px;line-height :50px;margin :0px 0px 0px 20px ;text-indent :10px;font-size :18px;color :#666;border-radius:5px;width:356px;border:0;}
.search a {display:inline-block;float:left;width: 50px;height: 50px;line-height: 50px;color:#fff;text-align:center; }
.search a i{line-height: 50px;font-size:34px}
.searchclose {display:inline-block;vertical-align:top;cursor:pointer;}

/*logo*/
.logo {display:none;position :absolute;left :80px;top :11px; z-index :499;width:79px;height:60px;background:url(../images/logo.svg);background-size:100%;}

/*druktelogo*/
.dlogo {position :absolute;left :104px;bottom : 10px; z-index :499;}
.dlogo h2{color:#4a4a4a;font-size:40px;margin:0;line-height:40px;cursor:pointer;}

/*beta*/
.beta {position :absolute;left :354px;bottom : 10px; z-index :499;}
.beta span{color:red;font-size:20px;font-weight:bold;margin:0;line-height:20px;cursor:pointer;}


/*info*/
.info {position :absolute;left :50%;bottom :40px; z-index :500;width :600px;margin-left :-300px;min-height :40px;max-height :180px;overflow-y :auto;background : rgba(74, 74, 74, 0.8);color :#fff;border-radius :5px;border :0px solid #fff;box-shadow : 0 3px 14px rgba(0,0,0,0.4);padding :10px;font-size:14px;line-height:24px;}
.info h2 {color:#fff;margin:0 0 10px 0;line-height:24px;}
.info .info_content {margin:0 30px;}
.info .info_content a{color:#50E6DB;}
.info .info_icon {position :absolute;left :10px;top :10px;}

/*mapswitch*/
.mapswitch {position :absolute;left :10px;bottom :10px; z-index :500;background-color: #4a4a4a;color :#fff;border-radius :5px;border :0px solid #fff;padding :4px;}
.mapswitch a {position :relative;display:block;height :80px;width:80px;background:url(../images/bubble.png);}
.mapswitch a.active {background:url(../images/choro.png);}
.mapswitch span {position :absolute;display:block;width:100%;left :0px;bottom :0px;color:#fff;background:rgba(74, 74, 74, 0.5);font-size:12px;text-indent:2px;}

/*leftbox*/
.leftbox {display:none;position:absolute;right:10px;bottom:10px; z-index:500;min-width:500px;height:380px;background-color: #4a4a4a;border-radius:5px;padding:10px;}
.leftbox .c {}
.leftbox .content {width:100%;height:320px;overflow:hidden;}
.leftbox  h2{text-indent:10px;margin:0 0 10px 0;}

/*themas*/
.themas {transition: width 0.5s;position:absolute;overflow:hidden; white-space: nowrap;left:10px;top:90px; z-index:500;width:70px;background-color: #4a4a4a;border-radius:5px;padding:10px;}
.themas.open {width:460px;}
.themas_content {display:inline-block;background-color :rgba(255,255,255,1);border-radius:5px;}
.themas.open .themas_content{width:calc(100% - 60px);min-height:296px;padding:10px;}
.themas_content h3 {border-bottom:1px solid #ccc;margin:0 0 10px 0;line-height:30px;color:#014699;}
.themas_buttons {float:left;list-style:none;margin:0;padding:0;}
.themas_buttons li {margin:2px 0 2px 0;padding:0;background-color :unset;background-size: 50px 50px;background-repeat:no-repeat;border-radius:5px;cursor:pointer;width:50px;height :50px;line-height :50px;}
.themas_buttons li.active,.themas_buttons li.active:hover {background-color :rgba(255,255,255,1);}
.themas .fiets_b {background-image:url(../images/fiets_icon.svg);}
.themas .fiets_b.active {background-image:url(../images/fiets_icon_active.svg);}
.themas .cam_b {background-image:url(../images/cam_icon.svg);}
.themas .cam_b.active {background-image:url(../images/cam_icon_active.svg);}
.themas .hotspots_b {background-image:url(../images/hotspots_icon.svg);}
.themas .hotspots_b.active {background-image:url(../images/hotspots_icon_active.svg);border-top-right-radius:0px;border-bottom-right-radius:0px;padding-right:10px;}
.themas .google_b {background-image:url(../images/google_icon.svg);background-size: 25px 25px;}
.themas .google_b.active {background-image:url(../images/google_icon_active.svg);}
.themas .events_b {background-image:url(../images/event_icon.svg);}
.themas .events_b.active {background-image:url(../images/event_icon_active.svg);}
.themas .traffic_b {background-image:url(../images/traffic_icon.svg);}
.themas .traffic_b.active {background-image:url(../images/traffic_icon_active.svg);}
.themas .park_b {background-image:url(../images/park_icon.svg);}
.themas .park_b.active {background-image:url(../images/park_icon_active.svg);}
.themas .water_b {background-image:url(../images/water_icon.svg);}
.themas .water_b.active {background-image:url(../images/water_icon_active.svg);border-top-right-radius:0px;border-bottom-right-radius:0px;padding-right:10px;}

.hotspots_content,.water_content {display:none;}
.hotspot_list {margin:0;padding:0;}
.hotspot_list li{background-size: 26px 30px;background-position:  0px 0px;background-repeat:no-repeat;text-indent:30px;line-height:30px;font-size:14px;cursor:pointer;border-radius: 5px;color:#444;}
.hotspot_list li:hover, .hotspot_list li.active{background-color:#eee;}
.option_museum {list-style:none;background-image:url(../images/musea_icon_active.svg);}
.option_parc {list-style:none;background-image:url(../images/parc_icon_active.svg);}
.option_market {list-style:none;background-image:url(../images/market_icon.svg);}

/*detail*/
.ui-widget.ui-widget-content{background: rgba(255,255,255,1);border:1px solid #ccc;border-top:1px solid #fff;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.ui-widget-content .ui-state-active, .time_i_content li.active  {
	background:#eee;
	border:0;
	color:#444;
}

/*controls*/
.controls {position:absolute;right:10px;top:70px; z-index:500;width:26px;height:26px;background-color: #4a4a4a;border-radius:5px;}
.controls a ,.controls i {color:#FFF;line-height:26px;font-size:22px;text-indent:2px;}
.controls a:hover {color:#000;}

.controls.chrome {width:30px;height:30px;top:80px;right:12px;}
.controls.chrome  a ,.controls.chrome  i {color:#FFF;line-height:30px;font-size:26px;}

/*jquery ui overwrites*/
.ui-autocomplete {z-index:501;}

/*leaflet styles*/
.active_path {filter: url(#shadow);stroke:#4a4a4a;stroke-width:3px;}
.leaflet-top .leaflet-control-zoom {}
.leaflet-control-zoom.leaflet-bar {box-shadow: none;}
.leaflet-control-zoom.leaflet-bar a{background-color: #4a4a4a;color:#fff;}
.leaflet-control-attribution {display:none;}
.leaflet-interactive {cursor:pointer;}
#overwrite .leaflet-interactive:hover:not(.active_path) {fill-opacity:0.9;}

.leaflet-tile-container img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);;
	/*blur()*/
	/*brightness()*/
	/*contrast()*/
	/*grayscale()*/
	/*hue-rotate()*/
	/*invert()*/
	/*opacity()*/
	/*saturate()*/
	/*sepia()*/
}
/*.leaflet-tile-container {opacity: 0.45;}*/
/*.leaflet-container {background-color:#000;}*/

/*popup*/
.leaflet-popup-content-wrapper {position:relative;background-color : rgba(74, 74, 74, 0.85);border-radius :5px;padding :0px;min-width:260px;}
.leaflet-popup-content {margin:0px;color:#fff;font-size:14px;}
.leaflet-popup-content .pop_inner_content{padding:10px;min-height:50px;}
.leaflet-popup-content img{max-width:100%;max-height:200px;}
.leaflet-popup-content p{margin:0;}
.leaflet-popup-content h4{font-weight:bold;font-size:14px;margin:5px 0;}
.leaflet-popup-content .ammount{display:block;position:absolute;right:10px;bottom:10px;min-width:30px;height:30px;border:2px solid #fff;font-size:20px;line-height:30px;text-align:center;border-radius:18px;background:#fff;padding:0 5px;}
.leaflet-popup-content-wrapper h3 {color:#fff;margin:0;background:#4a4a4a;padding:5px 30px 5px 30px;border-top-left-radius :5px;border-top-right-radius :5px;font-size:14px;line-height:22px;}
.leaflet-popup-content-wrapper .material-icons {position:absolute;top:5px;left:5px;font-size:22px;line-height:22px;}
.popup_none .material-icons {color:#DB322A;}
.popup_some .material-icons {color:#F5A623;}
.popup_plenty .material-icons {color:#50E6DB;}
.popup_none .pop_inner_content .ammount{color:#DB322A;border-color:#DB322A;}
.popup_some .pop_inner_content .ammount{color:#F5A623;border-color:#F5A623;}
.popup_plenty .pop_inner_content .ammount{color:#50E6DB;border-color:#50E6DB;}
.leaflet-popup-content-wrapper .popup_hotspot  h3 {border-radius:5px;}
.leaflet-popup-close-button {color:#fff;}
.leaflet-popup-tip{background-color : rgba(74, 74, 74, 0.85);}


/*area graph*/
.indexgraph {}
/*.area {fill:#61FEEE;fill-opacity:0.8;stroke:1px;}*/
/*.area-line {fill:none;stroke:#61FEEE;stroke-width:3;}*/

.area {fill:url(#gradient);fill-opacity:0.8;stroke:1px;}
.area-line {fill :none;stroke : #616161;stroke-width :1;}

.graphbar {display:block;position:absolute;left:0px;bottom:0px; width:100%;height:160px;background-color: #4a4a4a;}
.graphbar_left {float:left;height:160px;width:400px;border-right:2px dashed #555;padding:10px;}
.graphbar_center {float:left;height:160px;width:calc(100% - 800px);}
.graphbar_right {float:left;height:160px;width:400px;padding:10px;border-left:2px dashed #555;}
.graphbar_title {height:40px;}
.graphbar_title h2 {float:left;line-height:40px;text-indent:10px;color:#fff;font-size:18px;margin:0;float:left;font-weight:normal;}
.graphbar_title span {display:block;float:right;line-height:40px;margin-right:10px;}
.graphbar_title .reset_icon {display:block;float:left;line-height:40px;margin-left:10px;cursor:pointer;}
.graphbar_title .info_icon {display:block;float:right;line-height:40px;margin-right:10px;cursor:pointer;}
.graphbar_graph {float:left;width:100%;height:120px;}

.indexgraph .axis line,.indexgraph .axis .domain{
	fill: none;
	stroke: none;
}

.indexgraph .axis text {font-size:12px;fill:#fff;}


/*legend*/
.legend {
	margin-right:20px;
	float:right;
	text-align:center;
}
.legend span {font-size:12px;line-height:12px;}
.legend .linear{
	width:60px;
	height:100px;
	border-radius:5px;
	/*background: #db322a; !* Old browsers *!*/
	/*background: -moz-linear-gradient(top, #db322a 2%, #50e6db 100%); !* FF3.6-15 *!*/
	/*background: -webkit-linear-gradient(top, #db322a 2%,#50e6db 100%); !* Chrome10-25,Safari5.1-6 *!*/
	/*background: linear-gradient(to bottom, #db322a 2%,#50e6db 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db322a', endColorstr='#50e6db',GradientType=0 ); !* IE6-9 *!*/

	background: -moz-linear-gradient(90deg, #50E6DB 0%, #F5A623 50%, #DB322A 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DB322A), color-stop(50%, #F5A623), color-stop(100%, #50E6DB)); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, #50E6DB 0%, #F5A623 50%, #DB322A 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, #50E6DB 0%, #F5A623 50%, #DB322A 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, #50E6DB 0%, #F5A623 50%, #DB322A 100%); /* ie10+ */
	background: linear-gradient(0deg, #50E6DB 0%, #F5A623 50%, #DB322A 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DB322A', endColorstr='#50E6DB',GradientType=0 ); /* ie6-9 */
}


.meldlinks {float:left;margin-top:20px;margin-left:30px;}
.meld_link1,.meld_link2{display:block;width:140px;line-height:20px;background:#F9F9F9;border-radius: 5px;font-size:12px;text-align:center;text-decoration:none;color:#444;margin-bottom:20px;}
.weather_widget {float:right;margin-right:20px;width:140px;height:140px;background:#fff;border-radius: 30px;}
.weather_widget iframe {margin:40px 0 0 15px;}

/*desktop resets*/
.m_more {display:none;}
.m_menu {display:none;}

/*handheld styling*/
@media only screen and (max-width: 360px) {

	.detail {display:none;}
	.cta {display:none;}
	.controls {display:none;}
	.leaflet-top .leaflet-control-zoom {display:none;}
	.graphbar_right,.graphbar_left {display:none;}
	.hotspots_b,.cam_b,.water_b {display:none;}

	.info {display:none;width:220px;margin-left:-110px;top:5px;bottom:inherit;max-height:120px;}
	.info .info_icon, .info .close{font-size:16px;line-height:16px;}
	.info h2{font-size:16px;line-height:16px;}
	.info .info_content{margin:0 24px;line-height:16px;}
	.search {top:5px;left:5px;width:40px;height:40px;background-color: #4a4a4a;border-radius:5px;padding:5px;}
	.search.open {width:calc(100% - 70px);}
	.loc_i {height :28px;line-height :28px; width:calc(100% - 70px);}
	.search a {width: 30px;height: 30px;line-height: 30px;}
	.search a i{line-height: 30px;font-size:24px; }
	.searchclose{font-size:14px; }
	.logo {display:none;width:50px;height:38px;background-size:100%;left:50px;}
	.dlogo {left :80px;bottom : 5px; }
	.dlogo h2{font-size:30px;line-height:30px}
	.beta {left:266px;bottom:5px;}
	.beta span{font-size:14px;line-height:14px;}
	.themas {left:5px;width:40px;padding:5px;top:55px}
	.themas_buttons li {width:30px;height :30px;line-height :30px;background-size: 30px 30px;}
	.mapswitch {left:5px;bottom:5px;padding:5px;}
	.mapswitch a {height :60px;width:60px;background:url(../images/bubble_m.png);}
	.mapswitch a.active {background:url(../images/choro_m.png);}
	.m_more {right:5px;top:5px;display:block;position:absolute;width:40px;height :40px;z-index:500;background: #4a4a4a;border-radius:5px;padding:5px;}
	.m_more a {display:block;width:30px;height :30px;line-height: 30px;text-align:center;color:#fff;}
	.m_more.open {border-top-left-radius :0px; border-bottom-left-radius :0px;}
	.m_more a i{line-height: 30px;}
	.m_menu{display:none;position:absolute;right:45px;top:5px;width:calc(100% - 110px);min-height:50px;z-index:500;background: #4a4a4a;border-top-left-radius :5px;border-bottom-left-radius :5px;border-bottom-right-radius :5px;}
	.m_menu ul{padding:0;margin:5px;}
	.m_menu li{line-height:30px;list-style: none;text-indent:10px;margin: 0 2px;}
	.m_menu li a{color:#fff;text-decoration:none;}
	.m_menu li a:hover{color : #cccccc;}

	.leaflet-popup-content img{width:100%;}
	.leaflet-popup{max-width:180px;}

	#mapid {width:100%;height:calc(100% - 120px);position:relative;}
	.graphbar {height:120px;}
	.graphbar_center {height:120px;width:100%;}
	.graphbar_title {font-size:14px;line-height:30px;height:30px;}
	.graphbar_title h2 {line-height:30px;font-size:14px;}
	.graphbar_title span {line-height:30px;font-size:14px;}
	.graphbar_title .reset_icon {line-height:30px;margin-left:5px;font-size:14px;}
	.graphbar_title .info_icon  {line-height:30px;margin-left:5px;font-size:14px;}
	.graphbar_graph {float:left;width:100%;height:90px;}
	.indexgraph .axis text {font-size:8px;}

}

