Babel
certifi
chardet
datapunt-config-loader
-e git+https://github.com/Amsterdam/objectstore.git@fad63da39ac7354b1a0a46c711474c9d2cfb37e8#egg=datapunt_objectstore
debtcollector
flake8
frosted
gevent
greenlet
grequests
idna
iso8601
jsonschema
keystoneauth1
monotonic
msgpack-python
netaddr
netifaces
numpy
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
pandas
pbr
positional
psycogreen
psycopg2
pyflakes
pyparsing
pytest
python-dateutil
python-keystoneclient
python-swiftclient
pytz
PyYAML
requests
rfc3986
six
SQLAlchemy
stevedore
urllib3
wrapt
xlrd
