Babel
certifi
chardet
datapunt-config-loader
-e git+https://github.com/Amsterdam/objectstore.git@6344f3412a8280f0b92f4c3ccc085eba846e1c0a#egg=datapunt_objectstore
debtcollector
flake8
frosted
gevent
greenlet
grequests
idna
iso8601
jsonschema
keystoneauth1
monotonic
msgpack-python
netaddr
netifaces
numpy
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
pandas
pbr
positional
psycogreen
psycopg2
pyflakes
pyparsing
pytest
python-dateutil
python-keystoneclient
python-swiftclient
pytz
PyYAML
requests
rfc3986
six
SQLAlchemy
stevedore
urllib3
wrapt
xlrd
