Babel==2.5.1
certifi==2018.1.18
chardet==3.0.4
datapunt-config-loader==1.0.0
-e git+https://github.com/Amsterdam/objectstore.git@9a3e55d2f36fb6dbca00fabc3c1e6a6d55b64996#egg=datapunt_objectstore
debtcollector==1.19.0
flake8==3.5.0
frosted==1.4.1
gevent==1.2.2
greenlet==0.4.13
grequests==0.3.0
idna==2.6
iso8601==0.1.12
jsonschema==2.6.0
keystoneauth1==3.3.0
monotonic==1.4
msgpack-python==0.4.8
netaddr==0.7.19
netifaces==0.10.6
numpy==1.13.3
oslo.config==5.1.0
oslo.i18n==3.19.0
oslo.serialization==2.22.0
oslo.utils==3.32.0
pandas==0.21.0
pbr==3.1.1
positional==1.2.1
psycogreen==1.0
psycopg2==2.7.3.2
pyflakes==1.6.0
pyparsing==2.2.0
pytest==3.4.0
python-dateutil==2.6.1
python-keystoneclient==3.13.0
python-swiftclient==3.4.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
rfc3986==1.1.0
six==1.11.0
SQLAlchemy==1.1.15
SQLAlchemy-Utils==0.32.21
stevedore==1.28.0
urllib3==1.22
wrapt==1.10.11
xlrd==1.1.0
q
beautifulsoup4==4.6.0
urllib3==1.22